.footer-top {
  width: 100%;
  text-align: center;
  color: #cccccc;
  display: table;
}

.socials {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.socials * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials li {
  display: inline-block;
  list-style: outside none none;
  overflow: hidden;
  font-size: 13px;
  flex-grow: 1;
}

.socials a {
  padding: 0.3em 0.8em;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  padding: 25px 0;
  width: 100%;
}

.socials a:before,
.socials a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: '';
}

.socials a:after {
  padding: 0.3em 0.8em;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
  width: 100%;
  padding: 25px 0;
}

.socials li:hover a,
.socials .current a {
  transform: translateY(100%);
}

.linkedin {
  background: #969696;
  /*padding: 20px 0;*/
}

.linkedin a:after {
  background-color: #0e76a8;
}

.github {
  background: #ababab;
}

.github a:after {
  background-color: #c9510c;
}

.angellist {
  background: #cacaca;
}

.angellist a:after {
  background: #4c6ef5;
}

.medium {
  background: #ababab;
}

.medium a:after {
  background-color: #00ab6c;
}

.twitter {
  background: #969696;
}

.twitter a:after {
  background-color: #1da1f2;
}

.footer-bottom {
  width: 100%;
  background: #2f2f2f;
  padding: 30px 0;
  color: #636363;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & a {
    color: rgb(192, 191, 191);
  }

  img {
    width: 10rem;
  }

  p {
    color: white;
  }
}

.copy {
  margin-top: none;
  display: flex;
  align-items: center;

  .icon {
    font-size: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
  }
}
