.Header {
  position: relative;
  min-height: 45rem;
  background-position: bottom;
  background-size: contain;

  &__inner {
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0.8);
    display: table;
    height: 41rem;
    width: calc(100% - 4rem);
    margin-top: 2rem;
    margin-left: 2rem;
  }

  &__content {
    display: table-cell;
    vertical-align: middle;

    h1 {
      text-align: center;
      font-size: 60px;
    }

    hr {
      float: none;
    }

    p {
      text-align: center;
      font-size: 1.8rem;
    }
  }
}
