.Social {
  list-style: none;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 0;
  justify-content: space-between;

  &__icon {
    font-size: 2rem;
    color: inherit;
    padding-left: 1rem;
    padding-right: 1rem;

    a:hover,
    a:active {
      -webkit-filter: brightness(0.4);
      filter: brightness(0.4);
    }
  }
}
